@import "css/compass/typography/text/replacement";
@import "mixins";

body {
  color: black;
  font-family: 'Merriweather', serif;
  font-size: 18px;
  line-height: 1.5em;
  width: 36em;
  margin: 0px auto 0px auto;
}

p {
  margin: 1.5em 0;
}

code {
  font-family: 'Source Code Pro', sans-serif;
  color: #383838;
  background: #eee;
  padding: 0 0.3em 0 0.2em;
  border-radius: 2px;
}

pre {
  max-width: 36em;
  overflow: auto;
  background: #eee;
  padding: 0.2em 0.2em 0.2em 0.2em;
  border-radius: 0.2em;
  code {
    padding: 0 0 0 0;
  }
}

div#header {
  border-bottom: 2px solid black;
  margin-bottom: 30px;
  padding: 12px 0px 12px 0px;
}

div#logo a {
  color: black;
  float: left;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

div#header #navigation {
  text-align: right;
}

div#header #navigation a {
  color: black;
  font-size: 18px;
  font-weight: bold;
  margin-right: 12px;
  text-decoration: none;
  text-transform: uppercase;

  &.feed-icon {
    margin-right: 2px;
    img {
      height: 22px;
      // Nudge the icons down a little. Ugly, but good enough for now.
      position: relative;
      top: 4px;
    }
  }
}

#content {
  // Footnote indices
  sup {
    font-size: 0.75em;
    line-height: 0;
    vertical-align: super;
    position: relative;
    top: 0.15em;
    a {
      text-decoration: none;
    }
  }
  .footnotes {
    font-size: 16px;
    &>hr {
      background: none;
      border: 1px solid #ccc;
      margin-bottom: 3em;
      margin-top: 5em;
      &:after {
        content: "Footnotes";
        padding-top: 0.5em;
        display: block;
        font-size: 18px;
        color: #555;
        font-style: italic;
      }
    }
  }
  // Shenanigans!
  // Goals for this element are as follows:
  // 1. Center the image itself
  // 2. Hide the image attribution, because the footnote will still show up
  // 3. Have the footnote anchor point to the *top* of the image
  .image-container {
    position: relative;
    .image {
      display: block;
      margin: auto;
    }
    .image-attr {
      .footnoteRef {
        @include squish-text;
        position: absolute;
        top: 0;
      }
    }
  }
}

div#footer {
  border-top: solid 2px black;
  color: #555;
  font-size: 12px;
  margin-top: 30px;
  padding: 12px 0px 12px 0px;
  text-align: right;
}

h1 {
  /* 24px */
  font-size: 1.3333em;
  line-height: 1.1250em;
  margin-top: 1.1250em;
  margin-bottom: 0.0000em;
}

h2 {
  /* 20px */
  font-size: 1.11em;
  line-height: 1.3500em;
  margin-top: 1.3500em;
  margin-bottom: 0.0000em;
}

h3 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0.0000em;
}

table {
  border-spacing: 1em;
  // Offset the stupid border-spacing on the outer edge
  margin: -1em;
  th {
    border-bottom: 2px solid #ccc;
  }
}

div.info {
  color: #555;
  font-size: 14px;
  font-style: italic;
}

.figure {
  @include width-min-content;
  .caption {
    color: #444;
    font-size: 0.75em;
    font-style: italic;
    line-height: 1em;
    border-top: 1px dashed #ccc;
    margin-top: 0.1em;
    padding-top: 0.4em;
    margin-bottom: (1.5em / 0.75);
  }
}
